.benefits {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  &-title {
    font-size: 1.2rem;
  }

  ul {
    list-style: none;
  }

  ul li::before {
    content: "\2022";
    color: #99ffcc;
    display: inline-block;
    width: 1em;
  }

  a {
    color: #99ffcc;
    text-decoration: underline;
  }
}

.apy {
  height: 80px;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  border-radius: 10px;

  &-cell {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    &-status {
      margin: 0 1px 0 8px;
      display: flex;
      flex-direction: column;
      text-align: center;

      max-width: max-content;
      font-size: 12px;
      line-height: 24px;
      border: 1px solid #ffffff;
      border-radius: 5px;
      font-weight: 900;

      &-title {
        padding: 1px 5px;
        background-color: #ffffff;
        color: #070618;
        font-weight: 900;
      }
      &-value {
        padding: 1px 5px;
        color: #ffffff;
        font-weight: 900;
      }
    }
  }
}
