.c-dark { color: $dark; }
.c-white { color: $white; }
.c-green { color: $green; }
.c-yellow { color: $yellow; }
.c-red { color: $red; }
.c-blue { color: $blue; }

.accent-green { color: var(--accent-green); }

.bg-dark { background-color: $dark; }