.line-height-base { line-height: $line-height-base; }
.line-height-1 { line-height: $line-height-1; }
.line-height-2 { line-height: $line-height-2; }
.line-height-3 { line-height: $line-height-3; }
.line-height-4 { line-height: $line-height-4; }
.line-height-5 { line-height: $line-height-5; }
.line-height-6 { line-height: $line-height-6; }
.line-height-7 { line-height: $line-height-7; }
.line-height-8 { line-height: $line-height-8; }
.line-height-9 { line-height: $line-height-9; }
.line-height-10 { line-height: $line-height-10; }